import sys
import site
import os

##############################################################################
# Configuration parameters to be overridden during deployment

#this is the path to the virtualenv python site-package dir
vepath = '{{ site_packages_path }}'

##############################################################################
# mod_wsgi virtualenv setup as documented at 
#   http://code.google.com/p/modwsgi/wiki/VirtualEnvironments


ALLDIRS = [vepath]

# Remember original sys.path.
prev_sys_path = list(sys.path)

# Add each new site-packages directory.
for directory in ALLDIRS:
    site.addsitedir(directory)

# Reorder sys.path so new directories at the front.
new_sys_path = []
for item in list(sys.path):
    if item not in prev_sys_path:
        new_sys_path.append(item)
        sys.path.remove(item)
sys.path[:0] = new_sys_path


##############################################################################
# Bootstrap wsgi application

os.environ['DJANGO_SETTINGS_MODULE'] = '{{ prima_dm_site_name }}.settings'

from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()

